body 
{ 
  font-size: 62.5%;
  font-family: verdana, tahoma, arial, helvetica, sans-serif;
  background-color: #E0E0E0;
}

#content
{ 
  width: 64em;
  margin: 0;
  padding: 0.5em;
  background-color: #FFFFFF;
  border: 1px solid black;
  margin: 0 auto;
}

#footer
{ 
  clear: both;
}

h1 {text-align: center; font-size: 200%;}

/*
 * Navigation/Pagination styling
 */
ol.navigation
{ 
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 1px;
  width: 33em;
  height: 4.7em;
  border: 0;
  clear: both;
}

ol.navigation li
{ 
  float: left;
  display: block;
  width: 4.5em;
  height: 4.5em;
  padding: 0.1em;
  margin: 0;
}

ol.navigation li a span, ol.navigation li span {display: none;}
ol.navigation li a, ol.navigation li
{ 
  display: block;
  height: 4.5em;
  width: 4.5em;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: left;
}

ol.navigation li.page-description {width: 14em;}
ol.navigation li.page-description span {display: block; margin-top: 0.9em; font-size: 160%; font-weight: bold;}

ol.navigation li a {padding: 0;}
ol.navigation li.first-enabled {background-image: url(../images/navigation/first.gif);}
ol.navigation li.previous-enabled {background-image: url(../images/navigation/previous.gif);}
ol.navigation li.next-enabled {background-image: url(../images/navigation/next.gif);}
ol.navigation li.last-enabled {background-image: url(../images/navigation/last.gif);}

/*
 * Thumbnails display.
 */

div.thumbnails ul
{ 
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 33em;
  height: 39em;
  border: 0;
}

div.thumbnails ul li
{ 
  float: left;
}

div.thumbnails ul li a
{ 
  display: block;
  text-decoration: none;
  width: 10em;
  height: 10em;
  padding: 0;
  margin: 0.2em;
  border: 0.3em solid #E0E0E0;
}

div.thumbnails ul li a:hover
{ 
  border: 0.3em solid blue;
}

div.thumbnails ul li a img, div.thumbnails ul li a span
{ 
  font-weight: bold;
  font-size: 140%;
  margin: 0;
  border: 0; 
  padding: 0;
  color: black;
}

div.thumbnails
{
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}

div.picture
{ 
  float: left;
  margin: 0;
  padding: 0;
}

div.picture h3
{ 
  text-align: center;
}

div.picture a.image
{
  display: block;
  width: 31em;
  height: 31em;
  text-align: center;
  border: 0;
  margin: 0;
  padding: 0;
}

div.picture a.image img
{ 
  border: 0;
  margin: 0;
  padding: 0;
}

div.picture div.metadata
{ 
  margin: 1em;
}

div.picture div.metadata div.tags, div.picture div.metadata div.operations
{ 
  clear: both;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  width: 29em;
}

div.metadata div.tags ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.metadata div.tags p, div.metadata div.tags ul li, div.metadata div.operations p, div.metadata div.operations ul li
{ 
  display: block;
  float: left;
  padding-left: 0.5em;
  margin: 0;
}

div.metadata p.description
{ 
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 1.5em;
}

li.album div.metadata p.description {width: 16em;}
div.picture div.metadata p.description {width: 26em;}

div.metadata div.tags p, div.metadata div.operations p, div.metadata div.operations ul li, div.metadata div.tags ul li {font-size: 140%;}

div.metadata div.tags p, div.metadata div.operations p
{ 
  font-weight: bold;
}

div.metadata div.operations ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.metadata div.operations ul li
{ 
  margin: 0;
  padding-left: 1em;
  float: left;
}

div.albums ul
{ 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.albums ul li.album
{ 
  display: block;
  width: 30em;
  height: 20em;
  margin: 0;
  padding: 0.5em;
}

div.albums ul li.album {float: left;}
div.albums ul li.album a {display: block; width: 10em; height: 10em; text-align: center;}
div.albums ul li.album a img {border: 0;}
div.albums h3 {text-align: center; font-size: 140%;}

div.albums ul li.album div.metadata 
{
  position: relative; 
  width: 19.5em;
  top: -10em;
  left: 10em;
  margin: 0;
  padding: 0;
}

div.albums ul li.album div.date
{ 
  font-weight: bold;
  font-size: 140%;
  margin-bottom: 0.5em;
}

#gallery__list ol.navigation
{ 
  margin: 0 auto;
}

/*
 * Positioning styling
 */
ol.positioning
{ 
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 0.1em;
  width: 4.4em;
  height: 1.5em;
  border: 0;
  clear: both;
}

ol.positioning li {float: left;}

ol.positioning li a span, ol.positioning li span {display: none;}
ol.positioning li a, ol.positioning li
{ 
  display: block;
  height: 1.4em;
  width: 1.1em;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: left;
}

ol.positioning li a {padding: 0;}
ol.positioning li.move-first-enabled {background-image: url(../images/positioning/first.gif);}
ol.positioning li.move-up-enabled {background-image: url(../images/positioning/up.gif);}
ol.positioning li.move-down-enabled {background-image: url(../images/positioning/down.gif);}
ol.positioning li.move-last-enabled {background-image: url(../images/positioning/last.gif);}

div.form label
{ 
  clear: left;
  display: block;
  width: 10em;
  float: left;
}

div.form input, div.form textarea
{ 
  float: left;
  display: block;
  width: 20em;
}

div.form button
{
  display: block;
  clear: both;
}