<%
  @page_title = "#{current_user.name}: Create Picture"
  @form_title = "Create Picture"
  @form_action = {:action => 'new'}
  @form_action_desc = 'Create'
  @form_cancel_action = {:action => 'list', :album_id => params[:album_id]}
%>
<%= render(:partial => 'form') %>
