<div class="thumbnail"><a href="<%= url_for(:user => @user.name, :album => @album.permalink, :picture => picture.position, :action => 'show_picture') %>" title="<%= h(picture.caption) %>"><span><%= h(truncate(picture.caption,14)) %></span><img src="<%= url_for(:action => 'show_image', :user => params[:user], :album => params[:album], :picture => picture.filename, :size => 'thumbnail') %>" alt="<%= h(picture.caption) %>"/></a></div>