<% @page_title = "#{@user.name}: #{@album.caption}" %>
<h1><%= @page_title %></h1>
<ul class="thumbnails">
  <% for picture in @pictures %>
  <li><%= render(:partial => 'thumbnail', :locals => {:picture => picture}) %></li>
  <% end %>
</ul>
<%= link_to('Return to Album List', :action => 'list', :user => params[:user], :page => to_page(@album.position, 20) ) %>